h1 {
  font-size: 2em;
  line-height: 40px;
  margin-top: .46875em;
  margin-bottom: .46875em;
  color: #00436A;
  font-family: ProximaNova,Opensans,Verdana,Geneva,Tahoma,sans-serif;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  display: flex;
  flex-wrap: wrap;
}

.title {
  padding-bottom: 1em;
  color: #00436A;
}

.btn {
  margin-right: 5px;
  line-height: 0.9em;
}
