<div style="padding-top: 2em">
<div id="u-footer" class="footer">
  <div class="footer-wrap">
    <div class="copyright" role="contentinfo">
      <a href="http://www.unibo.it" title="Portale unibo" class="logo-unibo" target="_blank">Portale unibo</a>
      <p>©Copyright 2020 - ALMA MATER STUDIORUM - Università di Bologna - Via Zamboni, 33 - 40126 Bologna - Partita IVA: 01131710376
        <a href="http://www.unibo.it/it/ateneo/privacy-e-note-legali/privacy/informative-sul-trattamento-dei-dati-personali" target="_blank">Privacy</a> - <a href="http://www.unibo.it/it/ateneo/privacy-e-note-legali/note-legali" target="_blank">Note legali</a>
      </p>
    </div>
  </div>
</div>
<a class="back-to-top show" href="#" title="Torna su">
  <i class="fa fa-angle-up"></i>
</a>
</div>
