.row {
  padding-bottom: 1em;
}

.title {
  padding-bottom: 0.5em;
  color: #00436A;
}

.form-group{
  padding-right: 1em;
}

.form-control {
  margin-left:5px
}

.btn-primary {
  background-color: #0066A4;
}

.create-error {
  color: red;
}
