
.col-md-9 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 22px;
  margin-bottom: .625em;
}

.col-md-12 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 22px;
  margin-bottom: .625em;
}

p {
  text-align: justify;
  white-space: pre-wrap;
}

.center {
  text-align: center;
}

.testo {
  font-size: 1.2em;
}

.bottom-button  {
  margin: 20px;
  font-size: 1.5em;
}

.back-button {
  font-size: 1em;
  color: #fff;
  background-color: #00436A;
  border-color: #00436A;
}
