<div class="body-overflow">
  <app-header></app-header>
  <app-toolbar [appPath]="['Landing Page']"></app-toolbar>
  <div id="u-content-wrapper" class="content-wrapper">
    <div class="row">
      <div *ngIf="!this.jwtTokenService.getToken()" class="col-md-9 ">
        <div class="center">
          <h4><b>Ciao!</b></h4><br><br><br>
        </div>
        <div class="instruction">
          Stai per partecipare a una raccolta dati per il progetto di ricerca <i>UniverS-Ita</i>.
          <br><br><br>
          Prima dovrai scrivere un breve testo, e poi compilare un questionario.
          <br><br><br>
          <b>La rilevazione dei dati è anonima: in nessuna fase della raccolta ti verranno chiesti dati
            anagrafici e quindi i dati raccolti non potranno mai essere associati alla tua identità.</b>
          <br><br><br>
          Se completi la raccolta dati, parteciperai automaticamente all’estrazione di numerosi buoni da 25 €
          per l’acquisto di libri (entro la scadenza del buono).
        </div>
      </div>
      <div *ngIf="!jwtTokenService.getToken()" class="col-md-3">
        <h1>Accesso</h1>
        <app-login-form></app-login-form>
      </div>
      <div *ngIf="this.jwtTokenService.getToken()" class="col-md-12">
        <div class="center">
          <h4><b>Ciao!</b></h4><br><br><br>
        </div>
        <div class="testo">
          Stai per partecipare a una raccolta dati per il progetto di ricerca <i>UniverS-Ita</i>.
          <br><br><br>
          Prima dovrai scrivere un breve testo, e poi compilare un questionario.
          <br><br><br>
          <b>La rilevazione dei dati è anonima: in nessuna fase della raccolta ti verranno chiesti dati
            anagrafici e quindi i dati raccolti non potranno mai essere associati alla tua identità.</b>
          <br><br><br>
          Se completi la raccolta dati, parteciperai automaticamente all’estrazione di numerosi buoni da 25 €
          per l’acquisto di libri (entro la scadenza del buono).
        </div>
        <div class="center" *ngIf="!this.localStorage.get('sent-to-be') || this.localStorage.get('student')==='demo-student'">
          <br><br>
          <button type="button" id="bottom-button" class="btn btn-success" [routerLink]="'/introduzione'">Inizia</button>
        </div>
        <div class="center" *ngIf="this.localStorage.get('sent-to-be')">
          <br><br>
          <div class="testo" style="color: red">
            Hai già partecipato alla raccolta dati.
            <br><br>
            Puoi solo accedere al riepilogo finale cliccando sul tasto <i>fine</i>
          </div>
          <button type="button" id="bottom-button-fine" class="btn btn-success bottom-button-fine bottom-button" [routerLink]="'/fine'">Fine</button>
        </div>

      </div>
    </div>
  </div>
<!--  <app-footer></app-footer>-->
</div>
<router-outlet></router-outlet>
