<div class="header" id="u-header">
  <div class="hiddenKeys" id="u-hiddenKeys">
    <a accesskey="c" href="#u-column-content">vai al contenuto della pagina</a>
    <a accesskey="n" href="#u-main-menu">vai al menu di navigazione</a>
  </div>
  <div class="header-container" role="banner">
    <div class="textual-header">
      <a class="alma" href="http://www.unibo.it" target="_blank">Vai alla Homepage del Portale di Ateneo</a>
      <a class="text-wrap" href="https://site.unibo.it/univers-ita/it">
        UniverS-Ita. L’italiano scritto degli studenti universitari: quadro sociolinguistico, tendenze tipologiche, implicazioni didattiche
      </a>
    </div>
  </div>
  <div class="menu-container">
    <div aria-label="menù principale" class="main-menu" id="u-main-menu" role="navigation">
<!--      <a class="menu-button is-closed" href="" role="button">-->
<!--        <i class="fa fa-bars"></i>-->
<!--        <i class="fa fa-times"></i>-->
<!--        <span>Menu</span>-->
<!--      </a>-->
      <ul class="main-menu" id="portal-globalnav">
        <li class="selected " id="portaltab-index_html">
          <a href="https://site.unibo.it/univers-ita/it">
            Home
          </a>
        </li>
<!--        <li id="portaltab-il-progetto" class="plain published">-->
<!--          <a href="https://site.unibo.it/univers-ita/it/il-progetto">-->
<!--            Il progetto UniverS-ITA-->
<!--          </a>-->
<!--          <a class="menu-button is-closed" href="" aria-expanded="false" aria-haspopup="true">Apri sottomenù</a>-->
<!--          <ul>-->
<!--            <li class="published">-->
<!--              <a href="https://site.unibo.it/univers-ita/it/il-progetto/tempi-del-progetto">Tempi del progetto</a>-->
<!--            </li>-->
<!--            <li class="published">-->
<!--              <a href="https://site.unibo.it/univers-ita/it/il-progetto/domande-di-ricerca">Domande di ricerca</a>-->
<!--            </li>-->
<!--            <li class="published">-->
<!--              <a href="https://site.unibo.it/univers-ita/it/il-progetto/obiettivi-della-ricerca">Obiettivi della ricerca</a>-->
<!--            </li>-->
<!--            <li class="published">-->
<!--              <a href="https://site.unibo.it/univers-ita/it/il-progetto/fasi-della-ricerca-e-risultati-attesi">Fasi della ricerca e risultati attesi</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li id="portaltab-persone" class="plain published">-->
<!--          <a href="https://site.unibo.it/univers-ita/it/persone">-->
<!--            Partecipanti-->
<!--          </a>-->
<!--          <a class="menu-button is-closed" href="" aria-expanded="false" aria-haspopup="true">Apri sottomenù</a>-->
<!--          <ul>-->
<!--            <li class="published">-->
<!--              <a href="https://site.unibo.it/univers-ita/it/persone/persone-bologna">Unità di ricerca dell'Alma Mater Studiorum - Università di Bologna</a>-->
<!--            </li>-->
<!--            <li class="published">-->
<!--              <a href="https://site.unibo.it/univers-ita/it/persone/unita-di-ricerca-di-macerata">Unità di ricerca dell'Università di Macerata</a>-->
<!--            </li>-->
<!--            <li class="published">-->
<!--              <a href="https://site.unibo.it/univers-ita/it/persone/unita-di-ricerca-di-perugia-stranieri">Unità di ricerca dell'Università di Perugia Stranieri</a>-->
<!--            </li>-->
<!--            <li class="published">-->
<!--              <a href="https://site.unibo.it/univers-ita/it/persone/unita-di-ricerca-dell-universita-di-pisa">Unità di ricerca dell'Università di Pisa</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</div>

