.form-group {
  padding-left: 5px;
}

.inline-question {
  margin-left: 30px;
}

.responded {

}

.not-responded {
  color: red;

  select {
    border-color: red;
  }
  input {
    border-color: red;
  }
}


