textarea {
  width: 100%;
  padding: 15px;
  margin: 15px 0px;
  resize: none;
  white-space: pre-line;
}

.timer, .word-counter {
  font-weight: bold;
  font-size: 20px;
}

.timer-group {
  padding-top: 25px;
}
.word-counter-group {
  padding-top: 5px;
}

.copyPasteError {
  float: right;
  right: 0;
  color: red;
}


.center {
  text-align: center;
}

.testo {
  font-size: 1.2em;
}

.bottom-button  {
  margin: 20px;
  font-size: 1.5em;
}

.col-md-12 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 22px;
  margin-bottom: .625em;
}

.back-button {
  font-size: 1em;
  color: #fff;
  background-color: #00436A;
  border-color: #00436A;
}
