<div class="body-overflow">
  <app-header></app-header>
  <app-toolbar [appPath]="['Home','App-Home','Writing']" [backButton]="['/app-home','Indietro']"
               [nextButton]="['/survey','Vai al questionario']"></app-toolbar>
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12">
        <h1>Fase 1: Scrittura</h1>
        <p>Descrizione di cosa fare in questa fase</p>
        <div class="timer-group">
          Tempo restante: <span class="timer">{{this.timer.stringValue}}</span>
        </div>
        <div class="word-counter-group">
          Parole rimanenti: <span class="word-counter">{{this.remainingWord}}</span>
          <div *ngIf="copyPasteError!==''" class="copyPasteError">
            {{copyPasteError}}
          </div>
        </div>
        <form [formGroup]="textForm">
          <div class="text-area-wrapper">
          <textarea id="textarea" (ngModelChange)="onSubmit()"
                    (paste)="lockAction()" (copy)="lockAction()" (cut)="lockAction()"
                    (click)="onSubmit()" class="form-control" formControlName="textarea"
                    rows="10"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>
