.btn {
  margin-left: 3px;
  margin-right: 3px;
  line-height: 1.1;
  border-radius: 5px;
}

.col-md-12 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 22px;
  margin-bottom: .625em;
  margin-left: 0.9375em;
}

form {
  padding-right: 15px;
  padding-left: 15px;
}

.back-button {
  font-size: 1em;
  color: #fff;
  background-color: #00436A;
  border-color: #00436A;
}

