.btn {
  margin-left: 3px;
  margin-right: 3px;
  line-height: 1.1;
  border-radius: 5px;
}

.col-md-12 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 22px;
  margin-bottom: .625em;
  margin-left: 0.9375em;
}

h1 {
  font-size: 2em;
  line-height: 40px;
  margin-top: 0.46875em;
  margin-bottom: 0.46875em;
  color: #00436A;
  font-family: ProximaNova, Opensans, Verdana, Geneva, Tahoma, sans-serif;
  -webkit-margin-before: 0.67em;
  margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
  margin-block-end: 0.67em;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  display: flex;
  flex-wrap: wrap;
}

form {
  padding-right: 15px;
  padding-left: 15px;
}

