html, body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.content-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 0.625em;
  margin-bottom: 0.625em;
}


