<div class="toolbar" id="u-toolbar">
  <div class="row">
    <div *ngFor="let pathElement of appPath">
      <span id='breadcrumbs-{{pathElement}}' class="breadcrumbs"><a [routerLink]="'/'+pathElement | lowercase">{{pathElement}}</a></span>
      <span *ngIf="appPath.indexOf(pathElement)!==appPath.length-1" class="breadcrumbs breadcrumbSeparator">/</span>
    </div>
    <div id="login" class="tool-login">
      <button *ngIf="!jwtTokenService.getToken()" type="button" id="login-button" class="btn btn-custom-blue" routerLink="/login">Accedi</button>
      <button *ngIf="jwtTokenService.getToken()" type="button" id="logout-button" class="btn btn-custom-blue" (click)="logOut()">Esci</button>
    </div>
  </div>
  <div *ngIf="jwtTokenService.getToken() && jwtTokenService.getDecodedToken().type === 'student'" class="row">
    <div id="logged-info" class="tool-logged">
      <button *ngIf="backButton" type="button" id="back-button" class="btn btn-success" [routerLink]=backButton[0]><i class="fa fa-arrow-left"></i> {{this.backButton[1]}}</button>
      <button *ngIf="nextButton" type="button" id="next-button" class="btn btn-success" [routerLink]=nextButton[0]>{{this.nextButton[1]}} <i class="fa fa-arrow-right"></i></button>
      <button *ngIf="submitButton" type="button" id="submit-button" class="btn btn-success-upload">{{this.submitButton[1]}} <i class="fa fa-arrow-right"></i></button>
    </div>
  </div>
  <div *ngIf="jwtTokenService.getToken() && jwtTokenService.getDecodedToken().type === 'admin'" class="row">
    <div id="admin-data" class="tool-logged">
      <button type="button" id="admin-page-button" class="btn btn-success" routerLink="/admin">Pagina Amministratore</button>
      <button type="button" id="stats-page-button" class="btn btn-success" routerLink="/stats">Statistiche</button>
<!--      <button *ngIf="submitButton" type="button" id="submit-button" class="btn btn-success-upload">{{this.submitButton[1]}} <i class="fa fa-arrow-right"></i></button>-->
    </div>
  </div>
</div>
