.toolbar {
  background-color: #0066A4;
}

.toolbar .row {
  position: relative;
  background-color: #fff;
  padding: .46875em .9375em;
}

.toolbar .breadcrumbs {
  display: inline-block;
  margin-top: .625em;
  margin-bottom: .625em;
  margin-left: .9375em;
  font-size: 1em;
  line-height: 22px;
}

.toolbar .breadcrumbs .breadcrumbSeparator {
  color: #00436A;
  font-weight: 700;
}

.toolbar .breadcrumbs a {
  color: #333;
  border-bottom: 1px solid #aaa;
}
a:visited {
  color: #613399;
}

.toolbar .row .tool-login .toolbar-username {
  padding: 5px 10px 5px 5px;
}

.toolbar .row .tool-login {
  right: 0;
  float: right;
  padding: .46875em .9375em;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.toolbar .row .tool-login .btn {
  margin-left: 3px;
  margin-right: 3px;
  line-height: 1.1;
  border-radius: 5px;
}

.btn-custom-blue {
  color: #fff;
  background-color: #00436A;
  border-color: #00436A;
}

.btn-success-upload {
  color: #fff;
  background-color: #00436A;
  border-color: #00436A;
}

.toolbar .row .tool-logged {
  width: 100%;
  padding-left: 0.9375em;
  padding-bottom: 0.9375em;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.toolbar .row .tool-logged .btn {
  margin-left: 3px;
  margin-right: 3px;
  line-height: 1.1;
  border-radius: 5px;
}

.toolbar .row .tool-logged .toolbar-username {
  padding: 5px 10px 5px 5px;
  align-content: center;
}

.back-button {
  left:0;
  float:left
}

.next-button {
  right:0;
  float:right;
}
