.toolbar {
  background-color: #0066A4;
}

.toolbar .row {
  position: relative;
  background-color: #fff;
  padding: .46875em .9375em;
}

.toolbar .breadcrumbs {
  display: inline-block;
  margin-top: .625em;
  margin-bottom: .625em;
  margin-left: .9375em;
  font-size: 1em;
  line-height: 22px;
}

.toolbar .breadcrumbs .breadcrumbSeparator {
  color: #00436A;
  font-weight: 700;
}

.toolbar .breadcrumbs a {
  color: #333;
  border-bottom: 1px solid #aaa;
}
a:visited {
  color: #613399;
}

.toolbar .row .tool-log {
  right: 0;
  float: right;
  padding: .46875em .9375em;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.toolbar .row .tool-log .btn {
  margin-left: 3px;
  margin-right: 3px;
  line-height: 1.1;
  border-radius: 5px;
}

.btn-custom-blue {
  color: #fff;
  background-color: #0066A4;
  border-color: #0066A4;
}
