<div class="toolbar" id="u-toolbar">
  <div class="row">
    <div *ngFor="let pathElement of appPath">
      <span id='breadcrumbs-{{pathElement}}' class="breadcrumbs"><a [routerLink]="'/'+pathElement | lowercase">{{pathElement}}</a></span>
      <span *ngIf="appPath.indexOf(pathElement)!==appPath.length-1" class="breadcrumbs breadcrumbSeparator">/</span>
    </div>
    <div id="login" class="tool-log">
      <button id="login-button" class="active-button">Login</button>
      <button id="logout-button" class="disabled-button">Logout</button>
    </div>
  </div>
</div>
