<div class="body-overflow">
  <app-header></app-header>
  <app-toolbar [appPath]="['Home','App-Home','Writing','Survey']" [backButton]="['/writing','Scrittura']"
               [nextButton]="['/end','Riepilogo']"></app-toolbar>
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 indent">
        <h1>Fase 2: Questionario</h1>
        <div *ngFor="let item of questionObj">
          <div class="row row-question">
            <app-question [question_item]=item [dependant_sub_questions]=item.dependant_sub_questions [inline_sub_questions]=item.inline_sub_questions ></app-question>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<router-outlet></router-outlet>
