<div class="body-overflow">
  <app-header></app-header>
  <app-toolbar [appPath]="['Landing page','Fine']"></app-toolbar>
  <div class="content-wrapper">
    <div class="row">
      <div *ngIf="this.localStorage.get('student')==='demo-student'">
        <button type="button" id="back-button" class="btn btn-primary back-button" [routerLink]="['/questionario']"  [queryParams]="{'sezione':5}"><i class="fa fa-arrow-left"></i> Torna al questionario</button>
      </div>
      <div *ngIf="this.responseLucky !== null && this.responseLucky['lucky'] === true" class="next-button">
        <button id="next-button" class="btn btn-success" [routerLink]="['/buono-studente']">Vai al Buono <i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="h1">Fine!</div>
        <br>
        <div class="center testo">
          Grazie per aver partecipato alla raccolta dati del progetto UniverS-Ita!<br><br>

          Trovi maggiori informazioni sul progetto <a href="https://site.unibo.it/univers-ita/it">qui</a>.<br><br>

          Se hai domande, puoi contattarci all’indirizzo <a href="mailto:prin.universita@gmail.com">prin.universita@gmail.com</a><br><br><br>


          Clicca su <i>concludi</i> per partecipare all’estrazione di un buono per l’acquisto di libri.
        </div>
        <div class="center">
          <br><br>
          <button [disabled]="this.responseLucky !== null" type="button" id="bottom-button" class="btn btn-success bottom-button" (click)="this.imFeelingLucky()">Concludi</button>
          <br><br>
        </div>
        <div *ngIf="this.responseLucky !== null && this.responseLucky['lucky'] === false" class="center">
          <h2>Non hai vinto 😔 </h2>
        </div>
      </div>
    </div>
  </div>
  <app-spinner-loading *ngIf="loading"></app-spinner-loading>
</div>
<router-outlet></router-outlet>
