.text-container {
  white-space: pre-wrap;
  padding: 0 10px;
  text-align: justify;
  p {
    padding-bottom: 10px;
  }
}

.h1 {
  font-size: 2.5em;
  color: #0066A4;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.center {
  text-align: center;
}

.testo {
  font-size: 1.2em;
}

.center .bottom-button  {
  margin: 20px;
  font-size: 1.5em;
}

.back-button {
  font-size: 1em;
  color: #fff;
  background-color: #00436A;
  border-color: #00436A;
}

.col-md-12 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 22px;
  margin-bottom: .625em;
}
