.row form {
  padding: 5px 10px 15px;
}

.indent {
  padding-left: 0px;
}

.question-disabled {
  padding-top: 25px;
  color: #aaaaaa;
  position: relative;
}
.question-enabled {
  padding-top: 30px;
  color: black;
  position: relative;
}

label {
  padding-left: 3px;
}

.question {
  margin: 25px;
}

.suggestion {
  color: #afafaf;
  padding-left: 20px;
}

.responded {

}

.not-responded {
  color: red;

  select {
    border-color: red;
  }
  input {
    border-color: red;
  }
}
