<div id="question-{{question.num}}" class="row" [className]="!enabled?'question-disabled':'question-enabled'">
  <div class="row">
    <h5>{{question.num}}) {{question.question}}</h5>
  </div>
  <div class="row">
    <form [formGroup]="form">
      <div *ngIf="type === 'checkbox'" class="checkbox">
        <div *ngFor="let answer of answers">
          <input type="checkbox" (ngModelChange)="onSubmit(answer.answer, answer.num)" formControlName="{{answer.num}}"
                 id="check-question-{{question.num}}-answer-{{answer.num}}">
          <label for="check-question-{{question.num}}-answer-{{answer.num}}">
            {{answer.answer}}
          </label>
        </div>
      </div>
      <div *ngIf="type === 'radiobutton'" class="radio">
        <div *ngFor="let answer of answers">
          <input type="radio" (ngModelChange)="onSubmit(answer.answer)" name="value" formControlName="value"
                 id="radio-question-{{question.num}}-answer-{{answer.num}}" value="{{answer.answer}}">
          <label for="radio-question-{{question.num}}-answer-{{answer.num}}">
            {{answer.answer}}
          </label>
        </div>
      </div>
      <div *ngIf="type === 'textbox'">
        <input type="text" class="form-control" (ngModelChange)="onSubmit()"
               formControlName="value" id="textbox-question-{{question.num}}">
        <label for="textbox-question-{{question.num}}"></label>
      </div>
      <div *ngIf="type === 'select'">
        <label>
          <select class="form-control" formControlName="value" (ngModelChange)="onSubmit()">
            <option *ngFor="let answer of answers" [ngValue]="answer.answer">{{answer.answer}}</option>
          </select>
        </label>
      </div>
    </form>
  </div>
</div>
<div *ngIf="if_answered">
  <div *ngFor="let item of if_answered">
    <div class="row">
      <app-question class="indent" [question]=item.question [type]=item.type [answers]=item.answers
                    [if_answered]=item.if_answered [enabled]="this.sub_question_enabled"></app-question>
    </div>
  </div>
</div>

